<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.deviceconnect.android.manager"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name="org.deviceconnect.android.manager.DConnectApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.AppCompat">

        <!-- Device Connect Manager起動用Activity. -->
        <activity
            android:name="org.deviceconnect.android.manager.DConnectLaunchActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:taskAffinity="@string/affinity_launcher_activity"
            android:theme="@style/AppTheme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <!-- gotapiスキーム -->
                <data android:scheme="gotapi"
                      android:host="start"
                      android:path="/" />
                <data android:scheme="gotapi"
                      android:host="start"
                      android:path="/activity" />
                <data android:scheme="gotapi"
                      android:host="start"
                      android:path="/server" />
                <data android:scheme="gotapi"
                      android:host="stop"
                      android:path="/" />
                <data android:scheme="gotapi"
                      android:host="stop"
                      android:path="/activity" />
                <data android:scheme="gotapi"
                      android:host="stop"
                      android:path="/server" />

                <!-- dconnectスキーム -->
                <data android:scheme="dconnect"
                      android:host="start"
                      android:path="/" />
                <data android:scheme="dconnect"
                      android:host="start"
                      android:path="/activity" />
                <data android:scheme="dconnect"
                      android:host="start"
                      android:path="/server" />
                <data android:scheme="dconnect"
                      android:host="stop"
                      android:path="/" />
                <data android:scheme="dconnect"
                      android:host="stop"
                      android:path="/activity" />
                <data android:scheme="dconnect"
                      android:host="stop"
                      android:path="/server" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.deviceconnect.android.manager.setting.ServiceListActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- ホワイトリスト管理用Activity. -->
        <activity
            android:name="org.deviceconnect.android.manager.policy.WhitelistActivity"
            android:label="@string/app_name">
        </activity>

        <!-- Device Connect Manager設定画面用Activity. -->
        <activity
            android:name="org.deviceconnect.android.manager.setting.SettingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="org.deviceconnect.action.setting.MANAGER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- エラーダイアログ用Activity. -->
        <activity
            android:name="org.deviceconnect.android.manager.setting.ErrorDialogActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.AppCompat.Translucent">
        </activity>

        <!-- キーワード表示用Activity. -->
        <activity
            android:name="org.deviceconnect.android.manager.setting.KeywordDialogActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.AppCompat.Translucent">
        </activity>

        <!-- デバイス確認用Activity. -->
        <activity
            android:name="org.deviceconnect.android.manager.setting.WebViewActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop">
        </activity>

        <!-- 警告画面用Activity. -->
        <activity
            android:name="org.deviceconnect.android.observer.activity.WarningDialogActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.AppCompat.Translucent">
        </activity>

        <!-- 各アプリやデバイスプラグインからのDConnectMessageを受領するためのBroadcastReceiver. -->
        <receiver android:name="org.deviceconnect.android.manager.DConnectBroadcastReceiver" android:exported="true">
        </receiver>

        <!-- アプリケーションのインストールやアンインストールといったイベントを受領するためのBroadcastReceiver. -->
        <receiver android:name="org.deviceconnect.android.manager.receiver.PackageManageReceiver" android:exported="true">
        </receiver>

        <!-- Device Connect Manager本体のサービス. -->
        <service
            android:name="org.deviceconnect.android.manager.DConnectService"
            android:exported="false">
        </service>

        <!-- Webサーバを管理するサービス -->
        <service
            android:name="org.deviceconnect.android.manager.DConnectWebService"
            android:exported="false">
        </service>

        <!-- ローカル認証局サービス -->
        <service
            android:name=".ssl.DConnectCertificateAuthorityService"
            android:exported="true"
            />

        <!-- Device Connectのファイルを管理するProvider. -->
        <provider
            android:name="org.deviceconnect.android.provider.FileProvider"
            android:authorities="org.deviceconnect.android.manager.provider"
            android:exported="true">
            <meta-data
                android:name="filelocation"
                android:resource="@xml/filelocation"/>
        </provider>

        <!-- Device Plug-in List Activity. -->
        <activity
            android:name="org.deviceconnect.android.manager.setting.DevicePluginListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="org.deviceconnect.action.setting.PLUGIN_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Device Plug-in Information Activity. -->
        <activity
            android:name="org.deviceconnect.android.manager.setting.DevicePluginInfoActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="org.deviceconnect.action.setting.PLUGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.deviceconnect.android.manager.setting.WebSocketListActivity"
            android:exported="false"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name="org.deviceconnect.android.manager.setting.AccessTokenListActivity"
            android:excludeFromRecents="true"
            android:exported="false">
        </activity>

        <!-- Device Connect監視サービス. -->
        <!-- Device ConnectManagerの生存確認を行うため、Device Connect Managerとは別プロセスで動作する。 -->
        <service
            android:name="org.deviceconnect.android.observer.DConnectObservationService"
            android:exported="false"
            android:process=":dconnect_observer_process">
        </service>

        <!-- アプリ起動を受領し、監視プログラムを立ち上げるためのBroadcastReceiver. -->
        <receiver android:name="org.deviceconnect.android.observer.receiver.ObserverReceiver">
        </receiver>
    </application>

</manifest>
