
label {
    display: block;
    padding :16px 10px 16px 10px;
    margin: 0px 0px 0px 0px;
    color :#fff;
    background :#5B9CFC;
    font-size: small;
    font-weight: bold;
}

input[type="checkbox"].bellows {
    display: none;
}

img.minus {
    display: none;
    font-size: large;
    float: right;
}

img.plus {
    display: inline;
    font-size: large;
    float: right;
}

.ac_menu div.ac_content {
    box-shadow:0px 1px 5px #AAA inset;
    border-bottom: thin solid #558BCA;
    background :#f4f4f4;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0;
    padding: 0;
    list-style: none;
}

.ac_menu li {
    padding: 5px;
}

input[type="checkbox"].bellows + div.ac_content {
    height: 0;
    overflow: hidden;
}

input[type="checkbox"].bellows:checked + div.ac_content {
    height: auto;
}
