<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.deviceconnect.android.deviceplugin.sphero"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="false"
        android:icon="@drawable/dconnect_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <receiver
            android:name="org.deviceconnect.android.deviceplugin.sphero.SpheroDeviceProvider"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_sphero"/>
            <intent-filter>
                <!-- uninstall notification -->
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service
            android:name="org.deviceconnect.android.deviceplugin.sphero.SpheroDeviceService"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_sphero"/>
        </service>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.sphero.setting.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
        </activity>
        <activity
            android:name="org.deviceconnect.android.deviceplugin.sphero.setting.SpheroServiceListActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
        </activity>
    </application>
</manifest>