<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.deviceconnect.sdk">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <receiver android:name="org.deviceconnect.message.DConnectMessageReceiver">
            <intent-filter>
                <action android:name="org.deviceconnect.action.RESPONSE"/>
                <action android:name="org.deviceconnect.action.EVENT"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
