<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.deviceconnect.android.deviceplugin.heartrate">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/dconnect_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- ============================================================== -->
        <!-- Settings Activity -->
        <!-- ============================================================== -->
        <activity
            android:name=".activity.HeartRateServiceListActivity"
            android:label="@string/app_name"
            android:exported="false">
        </activity>
        <activity
            android:name=".activity.HeartRateDeviceSettingsActivity"
            android:label="@string/app_name"
            android:exported="false">
        </activity>

        <activity android:name=".ble.activity.BleEnableActivity"
                  android:label="@string/app_name"
                  android:theme="@style/Theme.Dialog.Transparent"
                  android:exported="false">
        </activity>

        <!-- ============================================================== -->
        <!-- Service -->
        <!-- ============================================================== -->
        <receiver android:name=".HeartRateDeviceServiceProvider">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_heartrate"/>

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET"/>
                <action android:name="org.deviceconnect.action.PUT"/>
                <action android:name="org.deviceconnect.action.POST"/>
                <action android:name="org.deviceconnect.action.DELETE"/>

                <!-- uninstall notification -->
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".HeartRateDeviceService"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_heartrate"/>
        </service>

    </application>

</manifest>
