<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deviceconnect.android.deviceplugin.hvcc2w">
    <!-- Http -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Wifi -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- LTE/Wifi -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/dconnect_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <receiver android:name="org.deviceconnect.android.deviceplugin.hvcc2w.HVCC2WDeviceServiceProvider" >
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_hvcc2w" />

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET" />
                <action android:name="org.deviceconnect.action.PUT" />
                <action android:name="org.deviceconnect.action.POST" />
                <action android:name="org.deviceconnect.action.DELETE" />

                <!-- uninstall notification -->
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <service
            android:name="org.deviceconnect.android.deviceplugin.hvcc2w.HVCC2WDeviceService"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_hvcc2w" />
        </service>
        <service
            android:name="org.deviceconnect.android.message.DConnectLaunchService"
            android:exported="true" >
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:value="enable" />
        </service>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.hvcc2w.setting.HVCC2WServiceListActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleInstance"/>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.hvcc2w.setting.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleInstance"/>

        <activity
            android:name="org.deviceconnect.android.localoauth.activity.ConfirmAuthActivity"
            android:excludeFromRecents="true"
            android:exported="false" >
        </activity>

        <service
            android:name="org.deviceconnect.android.localoauth.LocalOAuth2Service"
            android:exported="false" >
        </service>
    </application>

</manifest>
