<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.deviceconnect.android.deviceplugin.linking"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".LinkingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/dconnect_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">
        <meta-data
            android:name="com.nttdocomo.android.smartdeviceagent.feature.setting_activity"
            android:value="\#Intent;action=android.intent.action.MAIN;component=org.deviceconnect.android.deviceplugin.linking/.setting.SettingActivity;end"/>
        <meta-data
            android:name="com.nttdocomo.android.smartdeviceagent.feature.support"
            android:value="true"/>
        <meta-data
            android:name="com.nttdocomo.android.smartdeviceagent.feature.beacon"
            android:value="true" />
        <meta-data
            android:name="com.nttdocomo.android.smartdeviceagent.feature.notify_distance"
            android:value="true"/>

        <receiver
            android:name=".LinkingDeviceProvider"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/deviceplugin"/>
        </receiver>

        <service
            android:name=".LinkingDeviceService"
            android:enabled="true"
            android:exported="false"/>

        <!-- 再起動用のService. -->
        <service
            android:name="org.deviceconnect.android.message.DConnectLaunchService"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:value="enable"/>
        </service>

        <activity
            android:name=".setting.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".setting.LinkingDeviceActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
        </activity>

        <activity
            android:name=".setting.LinkingBeaconActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
        </activity>

        <activity
            android:name=".setting.LinkingSettingActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
        </activity>

        <activity
            android:name=".setting.LinkingHelpActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
        </activity>

        <activity
            android:name=".linking.ConfirmActivity"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:label="@string/title_activity_confirm"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <receiver
            android:name=".beacon.LinkingBeaconReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.nttdocomo.android.smartdeviceagent.action.BEACON_SCAN_RESULT" />
                <action android:name="com.nttdocomo.android.smartdeviceagent.action.BEACON_SCAN_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
