<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.deviceconnect.android.deviceplugin.linking"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <meta-data
            android:name="com.nttdocomo.android.smartdeviceagent.feature.setting_activity"
            android:value="\#Intent;action=android.intent.action.MAIN;component=org.deviceconnect.android.manager/org.deviceconnect.android.deviceplugin.linking.setting.SettingActivity;end"/>

        <meta-data
            android:name="com.nttdocomo.android.smartdeviceagent.feature.support"
            android:value="true"/>

        <meta-data
            android:name="com.nttdocomo.android.smartdeviceagent.feature.beacon"
            android:value="true"/>

        <meta-data
            android:name="com.nttdocomo.android.smartdeviceagent.feature.notify_distance"
            android:value="true"/>

        <receiver
            android:name=".LinkingDeviceProvider"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_linking"/>

            <meta-data
                android:name="org.deviceconnect.android.deviceplugin.name"
                android:value="@string/linking_app_name"/>

            <meta-data
                android:name="org.deviceconnect.android.deviceplugin.icon"
                android:resource="@mipmap/ic_launcher"/>

            <intent-filter>
                <!-- uninstall notification -->
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".LinkingDevicePluginService"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_linking"/>

            <meta-data
                android:name="org.deviceconnect.android.deviceplugin.name"
                android:value="@string/linking_app_name"/>

            <meta-data
                android:name="org.deviceconnect.android.deviceplugin.icon"
                android:resource="@mipmap/ic_launcher"/>

        </service>

        <activity
            android:name=".setting.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/linking_app_name"
            android:launchMode="singleInstance"
            android:theme="@style/LinkingTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".setting.LinkingDeviceActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/linking_app_name"
            android:launchMode="singleInstance"
            android:theme="@style/LinkingTheme">
        </activity>

        <activity
            android:name=".setting.LinkingBeaconActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/linking_app_name"
            android:launchMode="singleInstance"
            android:theme="@style/LinkingTheme">
        </activity>

        <activity
            android:name=".setting.LinkingInductionActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/linking_app_name"
            android:launchMode="singleInstance"
            android:theme="@style/LinkingTheme">
        </activity>

        <activity
            android:name=".setting.LinkingHelpActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/linking_app_name"
            android:launchMode="singleInstance"
            android:theme="@style/LinkingTheme">
        </activity>

        <activity
            android:name=".setting.AppInformationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/linking_app_name"
            android:launchMode="singleInstance"
            android:theme="@style/LinkingTheme">
        </activity>

        <activity
            android:name=".linking.ConfirmActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:label="@string/activity_linking_confirm_title"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

    </application>

</manifest>
