<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deviceconnect.android.test">

    <application android:networkSecurityConfig="@xml/network_security_config">

        <!-- テスト用ローカル認証局サービス -->
        <service android:name="org.deviceconnect.android.ssl.TestCertificateAuthorityService"
            android:exported="true" />

    </application>

</manifest>
