<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.deviceconnect.android.deviceplugin.fplug"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name=".FPLUGApplication"
        android:allowBackup="false"
        android:icon="@mipmap/dconnect_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".FPLUGDeviceProvider"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_fplug"/>
            <intent-filter>
                <!-- uninstall notification -->
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".FPLUGDeviceService"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_fplug"/>
        </service>

        <activity
            android:name=".setting.FPLUGServiceListActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleInstance"/>

        <activity
            android:name=".setting.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleInstance"/>

    </application>

</manifest>
