<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deviceconnect.android.deviceplugin.sonycamera" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".SonyCameraDeviceApplication"
        android:allowBackup="false"
        android:icon="@drawable/dconnect_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.SonyCameraServiceListActivity"
            android:label="@string/app_name"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.SonyCameraSettingActivity"
            android:label="@string/app_name"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>

        <provider
            android:name="org.deviceconnect.android.provider.FileProvider"
            android:authorities="org.deviceconnect.android.deviceplugin.sonycamera.provider"
            android:exported="true" >
            <meta-data
                android:name="filelocation"
                android:resource="@xml/filelocation" />
        </provider>

        <receiver android:name=".receiver.WiFiStateReceiver" android:exported="true">
        </receiver>

        <!-- SonyCamera Device Plugin Provider. -->
        <receiver android:name=".SonyCameraDeviceProvider" >
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_sonycamera" />

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET" />
                <action android:name="org.deviceconnect.action.PUT" />
                <action android:name="org.deviceconnect.action.POST" />
                <action android:name="org.deviceconnect.action.DELETE" />
                <!-- uninstall notification -->
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".SonyCameraDeviceService"
            android:exported="true" >
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_sonycamera" />
        </service>
    </application>

</manifest>