<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deviceconnect.sdk">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <receiver android:name="org.deviceconnect.message.DConnectMessageReceiver"
            android:exported="true">
        </receiver>

        <receiver android:name="org.deviceconnect.message.server.TestBroadcastReceiver"
            android:exported="true">
        </receiver>

        <service
            android:name="org.deviceconnect.message.server.TestService" />

    </application>

</manifest>
