<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deviceconnect.sdk">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <receiver android:name="org.deviceconnect.message.DConnectMessageReceiver">
            <intent-filter>
                <action android:name="org.deviceconnect.action.RESPONSE"/>
                <action android:name="org.deviceconnect.action.EVENT"/>
            </intent-filter>
        </receiver>

        <receiver android:name="org.deviceconnect.message.server.TestBroadcastReceiver">
            <intent-filter>
                <action android:name="org.deviceconnect.action.GET"/>
                <action android:name="org.deviceconnect.action.PUT"/>
                <action android:name="org.deviceconnect.action.POST"/>
                <action android:name="org.deviceconnect.action.DELETE"/>
                <action android:name="org.deviceconnect.action.RESPONSE"/>
                <action android:name="org.deviceconnect.action.EVENT"/>
            </intent-filter>
        </receiver>

        <service
            android:name="org.deviceconnect.message.server.TestService" />

    </application>

</manifest>
