<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.deviceconnect.android.deviceplugin.fabo.core">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.fabo.setting.FaBoServiceListActivity"
            android:exported="false"/>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.fabo.setting.FaBoVirtualServiceActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.fabo.setting.FaBoPinListActivity"
            android:exported="false"/>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.fabo.setting.FaBoProfileListActivity"
            android:exported="false"/>
    </application>

</manifest>
