<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deviceconnect.android.deviceplugin.tag">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.AppCompat">

        <!-- プラグイン本体サービス -->
        <service
            android:name=".TagMessageService"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_tag"/>
        </service>

        <!-- Device Connect API リクエストのレシーバー -->
        <!--
            NOTE:  下記のレシーバーは、旧仕様のDevice Connect Managerとの互換性、
            およびDevice Connect Managerのアンインストール検知のために残しています.
        -->
        <receiver
            android:name=".TagMessageServiceProvider"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_tag"/>

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET"/>
                <action android:name="org.deviceconnect.action.PUT"/>
                <action android:name="org.deviceconnect.action.POST"/>
                <action android:name="org.deviceconnect.action.DELETE"/>

                <!-- uninstall notification -->
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <!-- プラグイン設定画面 -->
        <activity android:name=".TagSettingActivity"/>

        <!-- OR コードを読み込むためのカメラを起動する Activity -->
        <activity
            android:name=".activity.QRReaderActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!-- NFC を読み込むための Activity -->
        <activity
            android:name=".activity.NFCReaderActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.AppCompat.Translucent">

            <!-- NFC がテキストの場合のフィルター -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>

            <!--
                NFC が URI の場合のフィルターを設定します。
                RTD URI の Identifier code の定義を記載しています。
            -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="tel"/>
                <data android:scheme="mailto"/>
                <data android:scheme="ftp"/>
                <data android:scheme="ftps"/>
                <data android:scheme="sftp"/>
                <data android:scheme="smb"/>
                <data android:scheme="nfs"/>
                <data android:scheme="dav"/>
                <data android:scheme="news"/>
                <data android:scheme="telnet"/>
                <data android:scheme="imap"/>
                <data android:scheme="rtsp"/>
                <data android:scheme="urn"/>
                <data android:scheme="pop"/>
                <data android:scheme="nfs"/>
                <data android:scheme="sip"/>
                <data android:scheme="sips"/>
                <data android:scheme="rftp"/>
                <data android:scheme="btspp"/>
                <data android:scheme="btl2cap"/>
                <data android:scheme="btgoep"/>
                <data android:scheme="tcpobex"/>
                <data android:scheme="irdaobex"/>
                <data android:scheme="file"/>
            </intent-filter>

            <!--
                android:resource に指定されたファイルに反応する NFC のタイプを記載しています。
                できる限りの NFC に反応できるように多数の NFC タイプを指定しています。
                用途に合わせて、フィルターの設定を行なってください。
            -->
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_tag_nfc_tech_filter"/>

            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- NFC にデータを書き込むための Activity -->
        <activity
            android:name=".activity.NFCWriterActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:launchMode="singleTask"/>

        <!-- ファイルを Manager に送信するための ContentProvider -->
        <provider
            android:name="org.deviceconnect.android.provider.FileProvider"
            android:authorities="org.deviceconnect.android.deviceplugin.tag.provider"
            android:exported="true"/>
    </application>
</manifest>
