<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deviceconnect.android.deviceplugin.uvc">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/dconnect_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.UVCServiceListActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name=".activity.UVCDeviceSettingsActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <activity
            android:name=".activity.ErrorDialogActivity"
            android:theme="@style/Theme.Transparent" />

        <activity
            android:name="org.deviceconnect.android.localoauth.activity.ConfirmAuthActivity"
            android:excludeFromRecents="true"
            android:exported="false" />

        <activity android:name=".activity.UVCCameraActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- プラグイン本体サービス -->
        <service
            android:name=".UVCDeviceService"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_uvc" />
        </service>

        <service
            android:name="org.deviceconnect.android.message.DConnectLaunchService"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:value="enable" />
        </service>

        <!-- Device Connect API リクエストのレシーバー -->
        <!--
            NOTE:  下記のレシーバーは、旧仕様のDevice Connect Managerとの互換性、
            およびDevice Connect Managerのアンインストール検知のために残しています.
        -->
        <receiver
            android:name=".UVCDeviceServiceProvider"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_uvc" />

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET" />
                <action android:name="org.deviceconnect.action.PUT" />
                <action android:name="org.deviceconnect.action.POST" />
                <action android:name="org.deviceconnect.action.DELETE" />
                <!-- uninstall notification -->
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
