<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.deviceconnect.android.deviceplugin.alljoyn"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".AllJoynDeviceApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.BasicApp.Common">

        <activity
            android:name=".activity.AllJoynServiceListActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".activity.AllJoynSettingActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".activity.AllJoynSettingLIFXActivity"
            android:exported="false"
            android:launchMode="singleTask">
        </activity>

        <!-- d-Connect AllJoyn Device Plugin Provider. -->
        <receiver android:name=".AllJoynDeviceProvider">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_alljoyn"/>

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET"/>
                <action android:name="org.deviceconnect.action.PUT"/>
                <action android:name="org.deviceconnect.action.POST"/>
                <action android:name="org.deviceconnect.action.DELETE"/>
                <action android:name="org.deviceconnect.action.RESPONSE"/>
                <action android:name="org.deviceconnect.action.EVENT"/>

                <!-- uninstall notification -->
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".AllJoynDeviceService"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_alljoyn"/>
        </service>
    </application>
</manifest>
