<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.deviceconnect.android.deviceplugin.awsiot.remote"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/dconnect_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="org.deviceconnect.android.deviceplugin.awsiot.cores.core.AWSIotDeviceApplication"
        android:theme="@style/Theme.AppCompat.Light">

        <receiver
            android:name="org.deviceconnect.android.deviceplugin.awsiot.AWSIotDeviceProvider"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_awsiot"/>

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET"/>
                <action android:name="org.deviceconnect.action.PUT"/>
                <action android:name="org.deviceconnect.action.POST"/>
                <action android:name="org.deviceconnect.action.DELETE"/>
            </intent-filter>
        </receiver>

        <service
            android:name="org.deviceconnect.android.deviceplugin.awsiot.AWSIotDeviceService"
            android:exported="false"/>

        <service
            android:name="org.deviceconnect.android.deviceplugin.awsiot.local.AWSIotLocalDeviceService"
            android:exported="false"/>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.awsiot.setting.AWSIotSettingActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"/>

        <!-- ヘルプ表示用Activity. -->
        <activity
                android:name="org.deviceconnect.android.deviceplugin.awsiot.setting.AWSIotWebViewActivity"
                android:label="@string/app_name"
                android:configChanges="orientation|screenSize"
                android:launchMode="singleTop">
        </activity>
    </application>

</manifest>
