<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deviceconnect.android.deviceplugin.hitoe">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/dconnect_icon"
        android:name=".HitoeApplication"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ============================================================== -->
        <!-- Settings Activity -->
        <!-- ============================================================== -->
        <activity
            android:name=".activity.HitoeDeviceListActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            >
        </activity>
        <activity
            android:name=".activity.HitoeAddDeviceActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false">
        </activity>
        <activity
            android:name=".activity.HitoeDeviceControlActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            >
        </activity>
        <!-- ============================================================== -->
        <!-- Service -->
        <!-- ============================================================== -->
        <receiver android:name=".HitoeDeviceServiceProvider">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_hitoe"/>

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET"/>
                <action android:name="org.deviceconnect.action.PUT"/>
                <action android:name="org.deviceconnect.action.POST"/>
                <action android:name="org.deviceconnect.action.DELETE"/>

                <!-- uninstall notification -->
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".HitoeDeviceService"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_hitoe"/>
        </service>
    </application>

</manifest>
