<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.deviceconnect.android.deviceplugin.wear"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:name=".WearApplication"
        android:allowBackup="true"
        android:icon="@drawable/dconnect_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".activity.CanvasActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:launchMode="singleTask"/>

        <service android:name=".DataLayerListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER"/>
                <action android:name="org.deviceconnect.wear.ping.service"/>
            </intent-filter>
        </service>

        <activity
            android:name=".activity.WearKeyEventProfileActivity"
            android:label="@string/title_activity_wear_keyevent_profile"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".activity.WearTouchProfileActivity"
            android:label="@string/title_activity_wear_touch_profile"
            android:launchMode="singleTask">
        </activity>
    </application>

</manifest>
