<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.deviceconnect.android.deviceplugin.pebble"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".setting.PebbleServiceListActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".setting.PebbleSettingActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <provider
            android:name="org.deviceconnect.android.provider.FileProvider"
            android:authorities="org.deviceconnect.android.deviceplugin.pebble.PebbleDeviceProvider"
            android:exported="true"/>

        <receiver
            android:name="org.deviceconnect.android.deviceplugin.pebble.PebbleDeviceProvider"
            android:enabled="true"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_pebble"/>

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET"/>
                <action android:name="org.deviceconnect.action.PUT"/>
                <action android:name="org.deviceconnect.action.POST"/>
                <action android:name="org.deviceconnect.action.DELETE"/>
                <!-- uninstall notification -->
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service
            android:name="org.deviceconnect.android.deviceplugin.pebble.PebbleDeviceService"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_pebble"/>
        </service>
    </application>

</manifest>
