li {
    margin-bottom: 10px;
}

div.heading {
    background-color: #9ECDF9;
    padding: 10px;
    font-weight: bold;
}

img.start {
    width: 80%;
}

div.image {
    text-align: center;
    margin: 12px;
}

div.wrapper {
    padding: 20px;
    position: relative;
    top: -28px;
}

div.box {
    position: relative;
    background: #fff;
    height: 40px;
    width: 80%;
    left: 40px;
    padding: 12px;
    border: 1px solid #666;
    border-radius: 24px;
}

div.box:after {
    content: '';
    position: absolute;
    border-bottom: 15px solid #fff;
    border-right:10px solid transparent;
    border-left: 10px solid transparent;
    top: -14px;
    right: 48px;
}

div.box:before {
    content: '';
    position: absolute;
    border-bottom: 16px solid #666;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    top: -16px;
    right: 47px;
}
