li {
    margin-bottom: 10px;
}

div.heading {
    background-color: #9ECDF9;
    padding: 10px;
    font-weight: bold;
}

button {
    font-size: 1.2em;
    padding: 10px 50px;
    margin: 4px;
    background-color: #9ECDF9;
    color: #000;
    border-style: none;

    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}

button:active {
    background-color:#69c;
}

img.start {
    width: 80%;
    border: solid 1px #000000;
}

img.dialog {
    width: 40%;
}

div.image {
    text-align: center;
    margin: 12px;
}

div.wrapper {
    padding: 20px;
    position: relative;
    top: -28px;
}

div.box {
    position: relative;
    background: #fff;
    height: 40px;
    width: 80%;
    left: 40px;
    padding: 12px;
    border: 1px solid #666;
    border-radius: 24px;
}

div.box:after {
    content: '';
    position: absolute;
    border-bottom: 15px solid #fff;
    border-right:10px solid transparent;
    border-left: 10px solid transparent;
    top: -14px;
    right: 48px;
}

div.box:before {
    content: '';
    position: absolute;
    border-bottom: 16px solid #666;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    top: -16px;
    right: 47px;
}

div#battery {
    font-size: 200%;
}

div.photo {
    text-align: center;
    margin: 12px;
}

img#preview {
    width: 80%;
    margin: 12px;
}

img.photo {
    width: 10%;
    margin: 12px;
}