<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.deviceconnect.android"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <application>
        <!--
        The following activities will be merged into a module that depends on this library.
        -->
        <activity
            android:name=".activity.IntentHandlerActivity"
            android:exported="false"
            android:theme="@style/Theme.Transparent"/>
        <activity
            android:name=".activity.PermissionRequestActivity"
            android:exported="false"
            android:theme="@style/Theme.Dialog.Transparent"/>
    </application>

</manifest>
