<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deviceconnect.android.manager" >
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.AppCompat"
        android:name="org.deviceconnect.android.manager.DConnectApplication">
        <uses-library android:name="com.google.android.things"/>

        <activity
            android:name=".ThingsSettingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IOT_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.deviceconnect.action.setting.MANAGER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
