<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.deviceconnect.android.deviceplugin.hvc"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name="org.deviceconnect.android.deviceplugin.hvc.HvcDeviceApplication"
        android:allowBackup="true"
        android:icon="@drawable/dconnect_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.deviceconnect.android.deviceplugin.hvc.setting.HvcSettingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>

        <!-- Device Connect HVC Device Plugin Provider. -->
        <receiver android:name="org.deviceconnect.android.deviceplugin.hvc.HvcDeviceProvider" >
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/deviceplugin" />

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET" />
                <action android:name="org.deviceconnect.action.PUT" />
                <action android:name="org.deviceconnect.action.POST" />
                <action android:name="org.deviceconnect.action.DELETE" />
                <action android:name="org.deviceconnect.action.RESPONSE" />
                <action android:name="org.deviceconnect.action.EVENT" />
            </intent-filter>
        </receiver>

        <!-- BroadcastReceiver for HVC -->
        <receiver android:name="org.deviceconnect.android.deviceplugin.hvc.HvcDeviceReceiver" >
            <intent-filter>

                <!-- Connection Profile -->
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                
            </intent-filter>
        </receiver>

        <service
            android:name="org.deviceconnect.android.deviceplugin.hvc.HvcDeviceService"
            android:exported="false" >
        </service>
        <service
            android:name="org.deviceconnect.android.message.DConnectLaunchService"
            android:exported="true" >
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:value="enable" />
        </service>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.hvc.activity.BluetoothManageActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- LocalOAuth -->
        <activity
            android:name="org.deviceconnect.android.localoauth.activity.ConfirmAuthActivity"
            android:theme="@style/AppTheme.Translucent" >
        </activity>

        <service
            android:name="org.deviceconnect.android.localoauth.LocalOAuth2Service"
            android:exported="false" >
        </service>
        
        <service android:enabled="true" android:name="omron.HVC.UartService" />
        
    </application>

</manifest>