<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.deviceconnect.android.deviceplugin.irkit"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="2.1.1">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".IRKitApplication"
        android:allowBackup="false"
        android:icon="@drawable/dconnect_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">

        <receiver
            android:name=".IRKitDeviceProvider"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_irkit"/>

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET"/>
                <action android:name="org.deviceconnect.action.PUT"/>
                <action android:name="org.deviceconnect.action.POST"/>
                <action android:name="org.deviceconnect.action.DELETE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <!-- uninstall notification -->
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".IRKitDeviceService"
            android:exported="true">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_irkit"/>
        </service>

        <activity
            android:name=".settings.activity.IRKitServiceListActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".settings.activity.IRKitSettingActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".settings.activity.IRKitVirtualDeviceListActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">
        </activity>

    </application>

</manifest>