<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.deviceconnect.android.deviceplugin.host"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.flash"/>

    <application>
        <activity
            android:name="org.deviceconnect.android.deviceplugin.host.setting.HostSettingActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"/>

        <!-- d-Connect Host Device Plugin Provider. -->
        <receiver android:name=".HostDeviceProvider">
            <meta-data
                android:name="org.deviceconnect.android.deviceplugin"
                android:resource="@xml/org_deviceconnect_android_deviceplugin_host"/>

            <meta-data
                android:name="org.deviceconnect.android.deviceplugin.name"
                android:value="@string/app_name_for_device_web_api"/>

            <meta-data
                android:name="org.deviceconnect.android.deviceplugin.icon"
                android:resource="@drawable/ic_launcher"/>

            <intent-filter>
                <action android:name="org.deviceconnect.action.GET"/>
                <action android:name="org.deviceconnect.action.PUT"/>
                <action android:name="org.deviceconnect.action.POST"/>
                <action android:name="org.deviceconnect.action.DELETE"/>
                <action android:name="org.deviceconnect.action.RESPONSE"/>
                <action android:name="org.deviceconnect.action.EVENT"/>

                <!-- Event transmit disconnect notification -->
                <action android:name="org.deviceconnect.action.EVENT_TRANSMIT_DISCONNECT"/>

                <!-- Manager terminated notification -->
                <action android:name="org.deviceconnect.action.MANAGER_TERMINATED"/>

                <!-- Device plug-in reset notification -->
                <action android:name="org.deviceconnect.action.DEVICEPLUGIN_RESET"/>

            </intent-filter>
        </receiver>

        <!-- BroadcastReceiver for Host -->
        <receiver android:name="org.deviceconnect.android.deviceplugin.host.HostDeviceReceiver">
            <intent-filter>
                <!-- Connection Profile -->
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED"/>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <!-- Phone Profile -->
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
            <intent-filter>
                <!-- uninstall notification -->
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service
            android:name="org.deviceconnect.android.deviceplugin.host.HostDeviceService"
            android:exported="false"/>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.host.activity.BluetoothManageActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.host.recorder.video.VideoRecorderActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.host.mediaplayer.VideoPlayer"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"/>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.host.recorder.audio.AudioRecorderActivity"
            android:exported="false"/>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.host.activity.CanvasProfileActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"/>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.host.activity.TouchProfileActivity"
            android:exported="false"
            android:label="@string/app_name"/>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.host.activity.KeyEventProfileActivity"
            android:exported="false"
            android:label="@string/app_name"/>

        <activity
            android:name="org.deviceconnect.android.deviceplugin.host.recorder.screen.PermissionReceiverActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name_host"
            android:theme="@android:style/Theme.Translucent"/>

        <activity android:name="org.deviceconnect.android.deviceplugin.host.activity.GeolocationAlertDialogActivity"
            android:label="@string/gps_settings_body"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:launchMode="singleInstance">
        </activity>

        <provider
            android:name="org.deviceconnect.android.deviceplugin.host.file.HostFileProvider"
            android:authorities="org.deviceconnect.android.deviceplugin.host.provider"
            android:exported="true" >
        </provider>
    </application>

</manifest>
